@font-face {
  font-family: 'Clash Display';
  src: url('~@/assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
  url('~@/assets/fonts/ClashDisplay-Variable.woff') format('woff');
  font-weight: 200 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pathway Extreme';
  src: url('~@/assets/fonts/PathwayExtreme28pt-ExtraBold.woff2') format('woff2'),
  url('~@/assets/fonts/PathwayExtreme28pt-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pathway Extreme';
  src: url('~@/assets/fonts/PathwayExtreme28pt-Black.woff2') format('woff2'),
  url('~@/assets/fonts/PathwayExtreme28pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('~@/assets/fonts/GeneralSans-Variable.woff2') format('woff2'),
  url('~@/assets/fonts/GeneralSans-Variable.woff') format('woff');
  font-weight: 200 900;
  font-style: normal;
}
