// -----------------------------------------------------------------------------
// This file contains aliases for grid classes
// -----------------------------------------------------------------------------

.grid-container {
  @apply px-4 mx-auto;
  max-width: 84rem;

  @screen lg {
    @apply px-8;
  }
}

.grid-row {
  @apply flex flex-wrap -mx-2;

  @screen lg {
    @apply -mx-4;
  }
}

.grid-col {
  @apply px-2;

  @screen lg {
    @apply px-4;
  }
}
