/**
 * Basic typography style for copy text
 */


// Lisse les typos
body {
  @apply antialiased font-general-sans font-normal text-base text-grey-11;
}

h1, .h1 {
  @apply font-pathway-extreme font-black;
  font-size: 2.8125rem;
  line-height: 1.2;

  @screen lg {
    font-size: 5.25rem;
    line-height: 1.1;
    letter-spacing: -0.21rem;
  }
}

h2, .h2 {
  @apply font-pathway-extreme font-black;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: -0.08rem;

  @screen lg {
    font-size: 3.375rem;
    letter-spacing: -0.135rem;
  }
}

h3, .h3 {
  @apply font-pathway-extreme font-black;
  font-size: 1.75rem;
  line-height: 1.2;

  @screen lg {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: -0.1rem;
  }
}

h4, .h4 {
  @apply font-pathway-extreme font-black;
  font-size: 1.375rem;
  line-height: 1.15;
  letter-spacing: -0.055rem;

  @screen lg {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.08rem;
  }
}

h5, .h5 {
  @apply font-pathway-extreme font-extrabold;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;

  @screen lg {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: -0.06rem;
  }
}

.lead {
  @apply font-pathway-extreme font-extrabold;
  font-size: 1.25rem;
  line-height: 1.3;
}

.body-1 {
  @apply font-general-sans font-medium;
  font-size: 1.125rem;
  line-height: 1.6;

  strong {
    @apply font-semibold;
  }
}

.body-2 {
  @apply font-general-sans font-medium;
  font-size: 1rem;
  line-height: 1.6;

  strong {
    @apply font-semibold;
  }
}

.body-3 {
  @apply font-general-sans font-medium;
  font-size: 0.875rem;
  line-height: 1.6;

  strong {
    @apply font-semibold;
  }
}

.link {
  @apply font-clash-display font-semibold uppercase transition-colors duration-200;
  font-size: 0.8125rem;
  line-height: normal;

  &:hover {
    @apply text-yellow;
  }
}

.caption {
  @apply font-general-sans font-medium;
  font-size: 0.75rem;
  line-height: 1.5;
}

.key-figure {
  @apply font-pathway-extreme font-black;
  font-size: 4rem;
  letter-spacing: -0.12rem;
  line-height: normal;

  @screen lg {
    font-size: 5rem;
    letter-spacing: -0.15rem;
  }
}
