<template>
  <Hero/>
  <CelestialMap/>
</template>

<script>

import Hero from "@/components/Hero.vue";
import CelestialMap from "@/components/CelestialMap.vue";

export default {
  name: 'HomeView',
  components: {CelestialMap, Hero},
}
</script>

<style lang="scss">
</style>
