<template>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col w-full flex justify-center bg-green">
        <h1>Sky Map</h1>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Hero',
}
</script>

<style lang="scss">
</style>
